<div class="row mt-3">
  <div class="col">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Active</th>
        </tr>
      </thead>
      <tbody>
        @for(adRecord of adRecords; track adRecord; let i = $index){
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ adRecord.fullName }}</td>
          <td>{{ adRecord.email }}</td>
          <td>{{ adRecord.isActive }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- <app-modal [isOpen]="isModalOpen" (closeModel)="closeModal()">
    <p>fff</p>
    <p>fff</p>

  </app-modal> -->
</div>
