<h3>Active Directory System</h3>
<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody>
    @for(adRecord of adRecords; track adRecord; let i = $index){
    <tr>
      <td>{{ adRecord.id }}</td>
      <td>{{ adRecord.fullName }}</td>
      <td>{{ adRecord.email }}</td>
      <td>{{ adRecord.isActive }}</td>
    </tr>
    }
  </tbody>
</table>
